# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=rate-postgres
DATABASE_PORT=5432
DATABASE_NAME=ratebox
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

# Security
JWT_SECRET=your-jwt-secret
ADMIN_JWT_SECRET=your-admin-jwt-secret
APP_KEYS=your-app-keys
API_TOKEN_SALT=your-api-token-salt
TRANSFER_TOKEN_SALT=your-transfer-token-salt

# Server
HOST=0.0.0.0
PORT=1337
NODE_ENV=development

STRAPI_ADMIN_CLIENT_URL=http://localhost:3000
STRAPI_ADMIN_CLIENT_PREVIEW_SECRET=a-random-token

CLIENT_URL=http://localhost:3000
PREVIEW_SECRET=your-secret-key # optional, required with Next.js draft mode