HOST=0.0.0.0
PORT=1337
APP_KEYS=your-app-keys
API_TOKEN_SALT=your-api-token-salt
ADMIN_JWT_SECRET=your-admin-jwt-secret
TRANSFER_TOKEN_SALT=your-transfer-token-salt
JWT_SECRET=your-jwt-secret

STRAPI_ADMIN_CLIENT_URL=http://localhost:3001
STRAPI_ADMIN_CLIENT_PREVIEW_SECRET=your-secret-key

CLIENT_URL=http://localhost:3001
PREVIEW_SECRET=your-secret-key

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=rate
DATABASE_USERNAME=JOY
DATABASE_PASSWORD=your_password_here
DATABASE_SSL=false
